<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    
    {{>navbar}}

    <div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About Us</h1>
                <p class="text-center sub-heading">grow your business with us</p>
                <div class="row">
                    <div class="col-md-6 col-12 hero-text">
                        <figure>
                            <img src="/images/about.svg" alt="">
                        </figure>

                    </div>
                    
                 {{!-- right side --}}
                 <div class="col-md-6 col-12 hero-text  order-1 d-flex justify-content-center align-items-start flex-column">

                       <h1>WE ARE THE PROFESSIONAL DEVELOPER </h1>
                       
                       <p>Welcome To <span class="bold-style">Rohit Kumar Ranjan</span> , Your Number One Source For All Things. We're Dedicated 
                       To Giving </p>
                       <button class="btn btn-primary">Read More</button>

                    </div>
                     

                </div>

            </div>

        </div>

    </div>



    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>
</html>